body{
	/*background: blue;*/
	/*background: rgb(155,155,155)*/
	/*background: rgba(255,0,0,0.2)* Para transparencia*/
	background: #33C2FF;
	color: white ;
}

header
{
	border: 10px solid black;
	text-align: center;
}

header nav ul li
{
	background: orange;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 90px;
}

header nav ul li:hover /*Cuando pasa el cursor por el elemento*/
{
	background: gray;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 90px;
}