
/*padding: separacion de texto y la caja;
padding: 5px; General
padding: 5px 10px; Arriba abajo
padding: 5px 10px 8px 5px; arriba der abajo izq*/

body{
	/*background: blue;*/
	/*background: rgb(155,155,155)*/
	/*background: rgba(255,0,0,0.2)* Para transparencia*/
	background: #33C2FF;
	color: white ;
}

footer
{
	border: 1px solid orange;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

header
{
	border: 10px solid black;
	margin-bottom: 20px;
	text-align: center;

}

header nav ul li
{
	background: orange;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	/*margin: 0px 20px 0px 0px;*/
	margin-right: 20px;
	padding: 10px 20px;
	width: 90px;
}

header nav ul li:hover /*Cuando pasa el cursor por el elemento*/
{
	background: gray;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	/*margin: 0px 20px 0px 0px;*/
	margin-right: 20px; 
	padding: 10px 20px;
	width: 90px;
}

main article
{
	border: 1px dashed black;
	display: inline-block;
	vertical-align: top;
	width: 32.65%;
	
}

main{
	/*margin-top:20px separar del header
}







